<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Auto Completed" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
          <span>{{state.name}}</span> |
          <small>Population: {{state.population}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(fruit)">
          {{fruit.name}}
          <mat-icon matChipRemove *ngIf="removable">*</mat-icon>
        </mat-chip>
        <input placeholder="Chip Example"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    

    <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
<hr>
<!-- <pre>Selected time: {{time | json}}</pre> -->

  </form>    
</div>
<router-outlet></router-outlet>
